a{
    font-weight: 500;
    text-decoration: none;
    padding: 10px 18px;
    line-height: 24px;
}
a.btn__entrar{
    color: var(--cinza);
}
a.btn__cadastrar{
    background-color: var(--vermelho-escuro);
    border: 1px solid var(--vermelho-escuro);
    color: var(--branco);
    border-radius: 8px;
}
a.btn__email{
    padding: 12px 20px;
}