header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    margin: 0 auto;
    height: 80px;
    width: 95%;
    box-sizing: border-box;
}

.logo{
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}
.texto__logo{
    font-size: 1.1rem;
    font-weight: 500;
}

ul.nav__lista{
    display: flex;
    justify-content: space-between;
    gap: 32px;
}
.nav__lista-item{
    font-weight: 500;
    color: var(--cinza);
    padding: 1rem;
    border-radius: 8px;
}

.caixa{
    width: 142px;
}

.botoes{
    display: flex;
    gap: 12px;
}

.nav__btn {
    display: none;
}

.logo, .nav__lista-item {
    cursor: pointer;
}

.nav__lista-item:hover {
    background-color: var(--cinza-hover);
}

@media screen and (max-width: 1024px) {
    .logo {
        display: none;
    }
}

@media screen and (max-width: 860px) {
    .caixa, .btn__cadastrar {
        display: none;
    }

    
    .logo {
        display: flex;
    }
    
    .navegacao {
        order: -1;
    }
    
    header {
        justify-content: space-between;
    }
    
    #nav-lista {
        display: block;
    }
    
    .nav__lista {
        position: absolute;
        width: 100%;
        top: 80px;
        left: 0;
        background-color: #e7e7e7;
        transition: .6s;
        z-index: 99;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }
    
    #nav.active #nav-lista {
        height: calc(100vh - 80px);
        visibility: visible;
        overflow-y: auto;
    }

    .nav__lista-item {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, .05);
    }

    .nav__btn {
        display: flex;
        padding: 0.5rem 0.5rem;
        border: none;
        background-color: transparent;
        cursor: pointer;
        font-size: 3rem;
    }

    .hamburguer {
        border-top: 2px solid;
        width: 25px;
    }

    .hamburguer::after, .hamburguer::before {
        display: block;
        content: '';
        width: 25px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active .hamburguer {
        border-top-color: transparent;
    }

    #nav.active .hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }
    
    #nav.active .hamburguer::before {
        transform: rotate(135deg);
    }
}