header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    margin: 0 auto;
    height: 80px;
    width: 95%;
    box-sizing: border-box;
}

.logo{
    display: flex;
    align-items: center;
    gap: 8px;
}
.texto__logo{
    font-size: 1.1rem;
    font-weight: 500;
}

ul.nav__lista{
    display: flex;
    justify-content: space-between;
    gap: 32px;
}
.nav__lista-item{
    font-weight: 500;
    color: var(--cinza);
}

.caixa{
    width: 142px;
}

.botoes{
    display: flex;
    gap: 12px;
}

.nav__toggle {
    display: none;
}

@media screen and (max-width: 1024px) {
    .texto__logo {
        display: none;
    }
}

@media screen and (max-width: 860px) {
    ul.nav__lista {
        display: none;
    }

    .texto__logo {
        display: block;
    }

    .nav__toggle {
        display: block;
        cursor: pointer;
        font-size: 3rem;
    }

    .navegacao {
        order: -1;
    }

    header {
        justify-content: space-evenly;
    }
    
}