.metricas{
    width: 95%;
    margin: 0 auto;
}
.container > ul{
    display: flex;
    justify-content: center;
    gap: 32px;
}
.metricas-item{
    width: 280px;
}
.metricas__titulo{
    font-size: 3.75rem;
    font-weight: 600;
    color: var(--vermelho-escuro);
    line-height: 72px;
    margin-bottom: 12px;
}
.metricas-item>strong{
    font-size: 1.12rem;
    font-weight: 500;
    line-height: 28px;
    color: var(--azul-escuro);
}
.metricas-item>p{
    line-height: 24px;
    color: var(--cinza);
}

@media screen and (max-width: 860px) {
    .metricas__titulo {
        font-size: 3.5rem;
    }

    .metricas-item {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .container > ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .metricas-item {
        width: 100%;
    }

    .metricas__titulo {
        font-size: 3rem;
    }

}